main {
    background-color: #776483;
    margin: 100px;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
  }

h1 {
  font-family: 'Fox on the Run';
  color: #292643;
  font-size: 100px;
}

h3 {
  color: #d0cfcd;
  font-size: 32px;
}

h2 {
  font-family: 'Fox on the Run';
  color: #d0cfcd;
  font-size: 34px;
  margin: 0 auto;
  background-color: #776483;
  width: 250px;
  text-align: center;
}

.purple {
  width: 250px;
  flex-direction: column;   /* onder elkaar */
  border-bottom: 4px solid #292643;
}

.white {
  background-color: #d0cfcd;
  width: 222px;
  padding: 14px;
}

/* Spreekwolkje */
.hond {
  background-color: #d0cfcd;
  width: 222px;
  padding: 14px;
}

/* Donkere achtergrond */
.dark {
  background-color: #292643;
}